head, body{
    width:100%;
    height:100%;
    overflow: hidden;
    top:0;
    left:0;
    margin:0;
    padding:0;
    cursor: url('img/chaos-magick.png'), auto;
    font-family: optima;
    color: white;
    text-align: justify;
}
#title {
    position: absolute;
    left: 10px;
    bottom: 10px;
    cursor: url('img/chaos-magick.png'), auto;
    width: 330px;
    text-align: justify;
    text-align-last: justify;
    text-justify: inter-word;
}
#volume {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 13px;
    font-style: bold;
    cursor: pointer;
}
#fullscreen {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}